<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대시보드</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        #new-patient-form {
            display: none;
            margin-top: 20px;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">대시보드</a>
            <a href="{% url 'diagnosis' %}">진단</a>
            <a href="{% url 'database:search_patients' %}">데이터베이스</a>
            <a href="{% url 'statistic' %}">통계</a>
        </nav>
    </header>
    <div class="container">
        <h1>고양이 HCM 진단 서비스를 환영합니다!</h1>
        <p>빠르고 정확한 진단으로 의료진의 업무를 지원합니다.</p>

        <button onclick="toggleForm()" class="button">새로운 환자</button>
        <a href="{% url 'database:search_patients' %}" class="button">기존 환자</a>
        
        <div id="new-patient-form">
            <h2>새 환자 등록</h2>
            <form method="post" action="{% url 'create_patient' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="cat_name">고양이 이름:</label>
                <input type="text" id="cat_name" name="cat_name" placeholder="고양이 이름 입력" required><br>

                <label for="owner_phone">보호자 연락처:</label>
                <input type="text" id="owner_phone" name="owner_phone" placeholder="010-1234-5678" required><br>

                <label for="gender">성별:</label>
                <select id="gender" name="gender" required>
                    <option value="">선택</option>
                    <option value="Male">수컷</option>
                    <option value="Female">암컷</option>
                </select><br>

                <label for="breed">품종:</label>
                <input type="text" id="breed" name="breed" placeholder="품종 입력" required><br>

                <label for="age">나이:</label>
                <input type="number" id="age" name="age" placeholder="나이 입력" required><br>


                <button type="submit" class="button">정보 저장</button>
            </form>
        </div>
    </div>
    <footer>
        <p>문의: support@example.com</p>
        <p>&copy; 2025 Cat HCM Diagnosis Service</p>
    </footer>

    <script>
        function toggleForm() {
            const form = document.getElementById('new-patient-form');
            form.style.display = form.style.display === 'none' ? 'block' : 'none';
        }
    </script>
</body>
</html>
